MANIFEST
*.py?
*.egg-info
*,cover
.DS_Store
.coverage
.coverage.*
cover
htmlcov
bin/*
include
lib
dist
build

docs/text
docs/html
docs/doctrees
docs/doctest
docs/pickles
docs/source/_static
docs/source/_template

