<html>
  <head>
    <title>radios</title>
  </head>
  <body>
    <h2>All Data</h2>
    <div id="data">${data}</div>
    <hr/>
    <form>
      <label>x/x1 <input type="radio" name="x" value="x1"></label>
      <br/>
      <label>x/x2 <input type="radio" name="x" value="x2"></label>
      <br/>
      <label>x/x3 <input type="radio" name="x" value="x3"></label>
      <br/>
      <label>x/x4 <input type="radio" name="x" value="x4"
        checked="checked"></label>
      <br/>
      <input type="submit">
    </form>
    <form>
      <label>m/m1 <input type="radio" name="m" value="m1"></label>
      <br>
      <label>m/m2 <input type="radio" name="m" value="m2"></label>
      <br>
      <label>m/m3 <input type="radio" name="m" value="m3"></label>
      <br/>
      <input type="submit">
    </form>
  </body>
</html>
