<html>
    <head>
      <title>select</title>
    </head>
    <body>
      <h2>All Data</h2>
      <div id="data">${data}</div>
      <hr>
      <form>
        <select name="sel">
          <option>
          <option value="val_only">
          <option>text only</option>
          <option value="combo">combo value</option>
        </select>
        <input type="submit">
      </form>
      <form>
        <select name="sel">
          <option value="">Choose One</option>
          <option>Carne</option>
          <option>Queso y cebolla</option>
        </select>
        <input type="submit">
      </form>
    </body>
</html>
